root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{README.md, *.json, *.yaml, *.yml, *.raml}]
indent_size = 2

[{*.mk, Makefile}]
indent_style = tab
trim_trailing_whitespace = false
